<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--Actor Provider-->
    <virtualType name="ActorsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\ResourceModel\Actor\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactsGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\Actor\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>

    <!--Movie Provider-->
    <virtualType name="MoviesGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\ResourceModel\Movie\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactsGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\Movie\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>

    <!--Director Provider-->
    <virtualType name="DirectorsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\ResourceModel\Director\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactsGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\Director\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>

    <!--Setting for All Provider-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="actor_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor\Grid\Collection</item>
                <item name="movies_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie\Grid\Collection</item>
                <item name="directors_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ContactsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!--Plugin Chapter 7-->
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Magenest_Movie::productCart" type="Magenest\Movie\Plugin\Catalog\CartAfter" sortOrder="1"/>
    </type>

    <!--Backend Advance Chapter-->
    <!-- Sync the column "odd_even" between the sales_order and sales_order_grid tables -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="odd_even" xsi:type="string">sales_order.odd_even</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Magenest\Movie\Block\Product\ListProduct" />
    <preference for="Magento\Framework\Pricing\Render\Amount" type="Magenest\Movie\Block\Pricing\Render\Amount" />
</config>