<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::dashboard"
             title="Movie"
             module="Magenest_Movie"
             resource="Magenest_Movie::dashboard"
             sortOrder="20"
         />
        <add id="Magenest_Movie::index"
             title="Movie Table"
             module="Magenest_Movie"
             resource="Magenest_Movie::index"
             parent="Magenest_Movie::dashboard"
             sortOrder="1"
         />
        <add id="Magenest_Movie::movie"
             title="Movie Grid Table"
             module="Magenest_Movie"
             resource="Magenest_Movie::movie"
             parent="Magenest_Movie::index"
             action="movie/index/movie"
             sortOrder="10"
        />
        <add id="Magenest_Movie::director"
             title="Director Grid Table"
             module="Magenest_Movie"
             resource="Magenest_Movie::director"
             parent="Magenest_Movie::index"
             action="movie/index/director"
             sortOrder="20"
        />
        <add id="Magenest_Movie::actor"
             title="Actor Grid Table"
             module="Magenest_Movie"
             resource="Magenest_Movie::actor"
             parent="Magenest_Movie::index"
             action="movie/index/actor"
             sortOrder="30"
        />
        <!--Integration-->
        <add id="Magenest_Movie::dashboard_integration"
             title="Integration"
             module="Magenest_Movie"
             resource="Magenest_Movie::dashboard_integration"
             sortOrder="21"
        />
        <add id="Magenest_Movie::integration_section_1"
             title="Section 1"
             module="Magenest_Movie"
             resource="Magenest_Movie::integration_section_1"
             parent="Magenest_Movie::dashboard_integration"
             sortOrder="10"
         />
        <add id="Magenest_Movie::integration_section_2"
             title="Section 1"
             module="Magenest_Movie"
             resource="Magenest_Movie::integration_section_2"
             parent="Magenest_Movie::dashboard_integration"
             sortOrder="20"
        />
        <add id="Magenest_Movie::first_content_container"
             title="1st content container"
             module="Magenest_Movie"
             resource="Magenest_Movie::first_content_container"
             parent="Magenest_Movie::integration_section_1"
             action="movie/content/firstcontentcontainer"
             sortOrder="10"
        />
        <add id="Magenest_Movie::second_content_container"
             title="2nd content container"
             module="Magenest_Movie"
             resource="Magenest_Movie::second_content_container"
             parent="Magenest_Movie::integration_section_2"
             action="movie/content/secondcontentcontainer"
             sortOrder="10"
        />
    </menu>
</config>